<%= render 'shared/error_messages', object: f.object %>
<table>
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :email %></td>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<td><%= f.label :cellphone %></td>
		<td><%= f.text_field :cellphone %></td>
	</tr>
	<tr>
		<td><%= f.label :default_address, "Address" %></td>
		<td><%= f.text_field :default_address %></td>
	</tr>
	<tr>
		<td><%= f.label :password %></td>
		<td><%= f.password_field :password %></td>
	</tr>
	<tr>
		<td><%= f.label :password_confirmation, "Confirm Password" %></td>
		<td><%= f.password_field :password_confirmation %></td>
	</tr>
</table>