<%# provide(:title, 'Sign up') %>
<!-- <h1>Sign up</h1> -->

<!-- <div class="row">
  <div class="span6 offset3">
    <%#= form_for(@user) do |f| %>
      <%#= render 'fields', f: f %>
      <%#= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <%# end %>
  </div>
</div> -->

<body class="body_orange">
  <section class="orange">
  	<div class="container main_container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="mobile_login_logo mobile_logo_top">
                    <a class="mobile_logo" href="#"><img src="/assets/mobile_logo_top.png"/></a>
                </div>
            	<div class="mobile_login_steps">
                	<div class="step_show">
                    	<div class="step_left pull-left">
                        	<h2>Login/ </br>Sign Up</h2>
                        </div>
                        <div class="step_center">
                        	<img src="/assets/mobile_step1.png"/>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
            	<div class="mobile_login_form">
                        <%= form_for(@user) do |f| %>
                            <%= render 'shared/error_messages', object: f.object %>
                            <div class="form-group">
                             <!--  <input type="text" class="form-control login-field" value="" placeholder="Full Name" id="login-name"> -->
                              <%= f.text_field :name, class: "form-control login-field", placeholder: "Full Name"  %>
                            </div>

                            <!-- <div class="form-group">
                              <input type="text" class="form-control login-field" value="" placeholder="Last Name" id="login-name">
                            </div> -->
                            <div class="form-group">
                              <!-- <input type="text" class="form-control login-field" value="" placeholder="Email Address" id="login-name"> -->
                              <%= f.text_field :email, class: "form-control login-field", placeholder: "Email Address" %>
                              <!-- <label class="login-field-icon fui-check-inverted" for="login-pass"></label> -->
                            </div>
                            <div class="form-group">
                             <!--  <input type="text" class="form-control login-field" value="" placeholder="Password" id="login-name"> -->
                             <%= f.password_field :password, class: "form-control login-field", placeholder: "Password" %>
                              <!-- <label class="login-field-icon fui-check-inverted" for="login-pass"></label> -->
                            </div>
                            <div class="form-group">
                              <!-- <input type="text" class="form-control login-field" value="" placeholder="Confirm Password" id="login-name"> -->
                              <%= f.password_field :password_confirmation, class: "form-control login-field", placeholder: "Confirm Password" %>
                              <!-- <label class="login-field-icon fui-check-inverted" for="login-pass"></label> -->
                            </div>
                            <div class="form-group">
                             <!--  <input type="text" class="form-control login-field" value="" placeholder="Mobile Phone Number" id="login-name"> -->
                              <%= f.text_field :cellphone, class: "form-control login-field", placeholder: "Mobile Phone Number" %>
                            </div>
                            <div class="form-group">
                              <!-- <input type="text" class="form-control login-field" value="" placeholder="Billing Address (Include Zip-Code)" id="login-name"> -->
                              <%= f.text_field :default_address, class: "form-control login-field", placeholder: "Billing Address (Include Zip-Code)" %>
                            </div>
                            <%= f.submit "Create my account", class: "btn btn_purple btn-lg btn-block" %>
                            <!-- <a class="btn btn_purple btn-lg btn-block" href="#">Create your account</a> -->
                        <% end %>
                </div>
                
            </div>
        </div>
        
        </div>
    </div>	
  </section>
  </body>