<body class="body_orange">
  <section class="orange">
      <div class="container main_container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile_login_steps">
                    <div class="step_show">
                        <div class="step_left pull-left">
                            <h2>ReEnter Your Password</h2>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="mobile_login_form">
                          <%= form_for(:user, url:  reset_password_user_path(@user), :method => 'post') do |f| %>
                            <%= render 'shared/error_messages', object: @user %>
                              <div class="form-group">
                                
                                <%= f.password_field :password, class: "form-control login-field", placeholder: "Password" %>
                                <label class="login-field-icon fui-lock" for="login-name"></label>
                              </div>
                              <div class="form-group">
                                <%= f.password_field :password_confirmation, class: "form-control login-field", placeholder: "Confirm Password" %>
                                <label class="login-field-icon fui-lock" for="login-name"></label>
                              </div>
                              
                              <%= f.submit "Password Reset", class: "btn btn_purple btn-lg btn-block" %>
                          <% end %>
                  </div>
                  
              </div>

          </div>
          
          </div>
      </div>  
  </section>
</body>