<%# if !@order.delivered %>
  <%# provide(:title, "Your Order is on its way") %>
   <!--<script>
   jQuery(document).ready(function() {
     setTimeout(function() {
       $.get( "check_delivered", function(data) {
         window.location.replace("/")
       });
     }, 5000);
   });
  </script>

  <div id="display_ajax">
    <h1>Your order is being delivered!</h1>
    <%#= image_tag('ajax-loader.gif') %>
  </div>
<%# else %>
  Delivered! 
<%# end %>-->


 

<% if !@order.delivered %>
  <% provide(:title, "Your Order is on its way") %>
   <script>
    jQuery(document).ready(function() {
      check_delivered()
    });
 
  function check_delivered(){
    setTimeout(function() {    
        url = 'check_delivered_order';
        $.get(url, function (data){ 
            if(data.message == true){
                  window.location.reload()
            }else{
              check_delivered();
            }
        });
      }, 5000);
  }
  </script>

  <body class="body_orange">
   
  <section class="orange">
    <% d = DateTime.now %>
    <div class="container main_container">
      <div class="row">
          <div class="col-md-12">
              <div class="mobile_login_steps">
                  <div class="step_show">
                      <div class="step_left pull-left right_strip">
                          <h2>Your</br>Receipt</h2>
                        </div>
                        <div class="step_center bottom_strip order_confirm">
                          <img src="/assets/mobile_step4.png"/>
                        </div>
                        <div class="order_confirm_text">
                          <h2>Order #</br><%= @order.id %></h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
                <div class="food_detail_con">
                    <div class="food_detail">
                        <div class="food_item">
                            <a class="food_dish" href="#">
                                <img src="<%= @food_item.picture_url %>"/>
                            </a>
                        </div>
                        <div class="selected_item_detail">
                              <div class="tooltip bottom in" style="">
                                    <div class="tooltip-arrow"></div>
                                    <div class="tooltip-inner">
                                      <div class="reciept_box">
                                          <p class=""><%= d.strftime("%A, %B %-dth, %Y") %></p>
                                            <h2>$<%= '%.2f' % (@order.quantity * @food_item.price) %></h2>
                                            <p>Charged credit card on file</p>
                                            <h3><%= @order.quantity.to_s + "x " + @food_item.title %></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="rating_con">
                      <p>How did we do? Rate your Delivery</p>
                        <ul>
                          <li><a class="rate_star " id="r1" href="#"></a></li>
                            <li><a class="rate_star " id="r2" href="#"></a></li>
                            <li><a class="rate_star " id="r3" href="#"></a></li>
                            <li><a class="rate_star " id="r4" href="#"></a></li>
                            <li><a class="rate_star" id="r5" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>  
  </section>
</body>
<% else %>
  Delivered! 
<% end %>
<script>
$( "#r1" ).click(function() {
      $(this).addClass('active');
      $("#r2").removeClass('active');
      $("#r3").removeClass('active');
      $("#r4").removeClass('active');
      $("#r5").removeClass('active');
    });

$( "#r2" ).click(function() {
      $("#r1").addClass('active');
      $(this).addClass('active');
      $("#r3").removeClass('active');
      $("#r4").removeClass('active');
      $("#r5").removeClass('active');
    
    });
$( "#r3" ).click(function() {
        $("#r1").addClass('active');
        $("#r2").addClass('active');
      $(this).addClass('active');
      $("#r5").removeClass('active');
      $("#r4").removeClass('active');
    
    });
$( "#r4" ).click(function() {
        $("#r1").addClass('active');
        $("#r2").addClass('active');
        $("#r3").addClass('active');
        $(this).addClass('active');
        $("#r5").removeClass('active');
    
    });
$( "#r5" ).click(function() {
      $("#r1").addClass('active');
      $("#r2").addClass('active');
      $("#r3").addClass('active');
      $("#r4").addClass('active');
      $(this).addClass('active');
    
  });
</script>





