<%-# TODO: remove.... -%>
<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="address"><%= wrap(feed_item.address) %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  <%- #TODO: orders shouldn't be allowed to be deleted -%>
  <%= render 'shared/order_delete', order: feed_item %>
</li>