<% provide(:title, 'Orders') %>
<h1>Orders</h1>

<%= will_paginate %>

<ul class="food_items">
  <% @orders.each do |order| %>
    <li>
      <% fi = FoodItem.find(order.food_item_id) %>
      <%= link_to pluralize(order.quantity, fi.title), fi %>
      | <%= order.address %>
      | <%= is_paid_text(order) %>
      | <%= content_tag :span, is_delivered_text(order),
                  :id => "delivery_status_#{order.id}" %>
      | <%= link_to delivery_link_text(order),
                  toggle_delivery_order_path(order),
                  :remote => true,
                  :id => "delivery_link_#{order.id}" %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>